USE [master]
GO
/****** Object:  Database [MeSure]    Script Date: 02/06/2024 23:17:39 ******/
CREATE DATABASE [MeSure]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MeSure', FILENAME = N'/var/opt/mssql/data/MeSure.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MeSure_log', FILENAME = N'/var/opt/mssql/data/MeSure_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MeSure].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MeSure]
GO
/****** Object:  Table [dbo].[Estufa]    Script Date: 02/06/2024 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estufa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SEDE] [int] NULL,
	[Nome] [varchar](100) NULL,
	[Status_Manutencao] [varchar](50) NULL,
	[Data_Manutencao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sede]    Script Date: 02/06/2024 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sede](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[Rua] [varchar](100) NULL,
	[Cidade] [varchar](100) NULL,
	[Estado] [varchar](50) NULL,
	[Bairro] [varchar](50) NULL,
	[CEP] [varchar](20) NULL,
	[Imagem] [varbinary](max) NULL,
	[Telefone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sensor]    Script Date: 02/06/2024 23:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[ID_ESTUFA] [int] NULL,
	[Unidade_Medida] [varchar](50) NULL,
	[Temp_Max] [decimal](10, 2) NULL,
	[Temp_Min] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Estufa] ON 

INSERT [dbo].[Estufa] ([ID], [ID_SEDE], [Nome], [Status_Manutencao], [Data_Manutencao]) VALUES (2, 5, N'EstufaTeste', N'Feita', CAST(N'2024-05-31T22:09:00.000' AS DateTime))
INSERT [dbo].[Estufa] ([ID], [ID_SEDE], [Nome], [Status_Manutencao], [Data_Manutencao]) VALUES (5, 9, N'Itapecirica', N'Atrasada', CAST(N'2024-02-20T05:05:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Estufa] OFF
GO
SET IDENTITY_INSERT [dbo].[Sede] ON 

SET IDENTITY_INSERT [dbo].[Sede] OFF
GO
SET IDENTITY_INSERT [dbo].[Sensor] ON 

INSERT [dbo].[Sensor] ([ID], [Nome], [ID_ESTUFA], [Unidade_Medida], [Temp_Max], [Temp_Min]) VALUES (3, N'SensorTeste1', 2, N'Celcius', CAST(30.50 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[Sensor] ([ID], [Nome], [ID_ESTUFA], [Unidade_Medida], [Temp_Max], [Temp_Min]) VALUES (4, N'SensorTeste2', 5, N'Celcius', CAST(100.00 AS Decimal(10, 2)), CAST(30.00 AS Decimal(10, 2)))
INSERT [dbo].[Sensor] ([ID], [Nome], [ID_ESTUFA], [Unidade_Medida], [Temp_Max], [Temp_Min]) VALUES (8, N'Sensor 8', 5, N'Celcius', CAST(34.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Sensor] OFF
GO
ALTER TABLE [dbo].[Estufa]  WITH CHECK ADD FOREIGN KEY([ID_SEDE])
REFERENCES [dbo].[Sede] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sensor]  WITH CHECK ADD FOREIGN KEY([ID_ESTUFA])
REFERENCES [dbo].[Estufa] ([ID])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[spConsulta]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spConsulta]
(
 @id int ,
 @tabela varchar(max)
)
as
begin
 declare @sql varchar(max);
 set @sql = 'select * from ' + @tabela +
 ' where id = ' + cast(@id as varchar(max))
 exec(@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[spConsulta_Estufa]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spConsulta_Estufa]
(
 @id int ,
 @tabela varchar(max)
)
as
begin
 select es.*, s.Nome as sede from estufa es 
 inner join Sede s on es.ID_SEDE = s.ID
 where es.ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[spConsulta_Sensor]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spConsulta_Sensor]
(
 @id int ,
 @tabela varchar(max)
)
as
begin
 select se.*, e.Nome as Estufa from sensor se 
 inner join Estufa e on se.ID_Estufa = e.ID
 where se.ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[spConsultaSede]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spConsultaSede]
(
 @nome varchar(max),
 @estado varchar(max)
)
as
begin
select * from Sede
where nome like '%' + @nome + '%'
and Estado like '%' + @estado + '%'
end
GO
/****** Object:  StoredProcedure [dbo].[spDelete]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spDelete]
(
 @id int ,
 @tabela varchar(max)
)
as
begin
 declare @sql varchar(max);
 set @sql = ' delete ' + @tabela +
 ' where id = ' + cast(@id as varchar(max))
 exec(@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[spFiltraSensor]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spFiltraSensor]
(
 @idSede int
)
as
begin
 select se.*, e.Nome as Estufa from sensor se 
 inner join Estufa e on se.ID_Estufa = e.ID
 inner join Sede s on s.ID = e.ID_SEDE
 where s.ID = @idSede
end
GO
/****** Object:  StoredProcedure [dbo].[spFiltraSensorEstufa]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spFiltraSensorEstufa]
(
 @idEstufa int
)
as
begin
 select se.*, e.Nome as Estufa from sensor se 
 inner join Estufa e on se.ID_Estufa = e.ID
 where e.ID = @idEstufa
end
GO
/****** Object:  StoredProcedure [dbo].[spFiltroEstufa]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spFiltroEstufa]
(
 @nome varchar(max),
@sede varchar(max),
@dataInicial datetime,
@dataFinal datetime)
as
begin
select es.*, s.Nome as sede
from Estufa es
inner join Sede s on es.ID_SEDE = s.ID
where es.Nome like '%' + @nome + '%' 
 and s.Nome like '%' + @sede + '%' and
 es.Data_Manutencao between @dataInicial and @dataFinal
end
GO
/****** Object:  StoredProcedure [dbo].[spInsert_Estufa]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spInsert_Estufa]
(
 @id int,
 @idSede int,
 @nome varchar(max),
 @status varchar(max),
 @DataManutencao datetime
)
as
begin
 insert into Estufa
 (ID_SEDE, Nome, Status_Manutencao, Data_Manutencao)
 values
 (@idSede, @nome, @status, @DataManutencao)
end
GO
/****** Object:  StoredProcedure [dbo].[spInsert_Sede]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spInsert_Sede]
(
 @id int,
 @nome varchar(max),
 @rua varchar(max),
 @cidade varchar(max),
 @estado varchar(max),
 @bairro varchar(max),
 @cep varchar(max),
 @telefone varchar(max),
 @imagem varbinary(max)
)
as
begin
 insert into Sede
 (nome, rua, cidade, Estado, Bairro, CEP, Telefone, Imagem)
 values
 (@nome, @rua, @cidade, @estado, @bairro, @cep, @telefone, @imagem)
end
GO
/****** Object:  StoredProcedure [dbo].[spInsert_Sensor]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spInsert_Sensor]
(
 @id int,
 @idEstufa int,
 @tempMax DECIMAL(10,2),
 @tempMin DECIMAL(10,2),
 @unidadeMedida varchar(max),
 @Nome varchar(max)
)
as
begin
 insert into Sensor
 (ID_Estufa, Nome, Unidade_Medida, Temp_Max, Temp_Min )
 values
 (@idEstufa, @Nome, @unidadeMedida, @tempMax, @tempMin )
end
GO
/****** Object:  StoredProcedure [dbo].[spListagem]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spListagem]
(
 @tabela varchar(max),
 @ordem varchar(max))
as
begin
 exec('select * from ' + @tabela +
 ' order by ' + @ordem)
end
GO
/****** Object:  StoredProcedure [dbo].[spListagem_Estufa]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spListagem_Estufa]
(
 @tabela varchar(max),
 @ordem varchar(max)
)
as
begin
 select es.*, s.Nome as sede from estufa es 
 inner join Sede s on es.ID_SEDE = s.ID
end
GO
/****** Object:  StoredProcedure [dbo].[spListagem_Sensor]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spListagem_Sensor]
(
 @tabela varchar(max),
 @ordem varchar(max)
)
as
begin
 select se.*, e.Nome as Estufa from sensor se 
 inner join Estufa e on se.ID_Estufa = e.ID
end
GO
/****** Object:  StoredProcedure [dbo].[spProximoId]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spProximoId]
(@tabela varchar(max))
as
begin
 exec('select isnull(max(id) +1, 1) as MAIOR from '
 +@tabela)
end
GO
/****** Object:  StoredProcedure [dbo].[spUpdate_Estufa]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spUpdate_Estufa]
(
 @id int,
 @idSede int,
 @nome varchar(max),
 @status varchar(max),
 @DataManutencao datetime
)
as
begin
 update Estufa set
 nome = @nome,
 Status_Manutencao = @status,
 Data_Manutencao = @DataManutencao
 where id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[spUpdate_Sede]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spUpdate_Sede]
(
 @id int,
 @nome varchar(max),
 @rua varchar(max),
 @cidade varchar(max),
 @estado varchar(max),
 @bairro varchar(max),
 @cep varchar(max),
 @telefone varchar(max),
 @imagem varbinary(max)
)
as
begin
 update Sede set
 nome = @nome,
 rua = @rua,
 cidade = @cidade,
 Estado = @estado,
 Bairro = @bairro,
 CEP = @cep,
 Telefone = @telefone,
 Imagem = @imagem
 where id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[spUpdate_Sensor]    Script Date: 02/06/2024 23:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spUpdate_Sensor]
(
 @id int,
 @idEstufa int,
 @tempMax DECIMAL(10,2),
 @tempMin DECIMAL(10,2),
 @unidadeMedida varchar(max),
 @Nome varchar(max)
)
as
begin
 update Sensor set
 nome = @nome,
 unidade_medida = @unidadeMedida,
 temp_Max = @tempMax,
 temp_Min = @tempMin
 where id = @id
end
GO
USE [master]
GO
